<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please wait...</h1>
    <form name="f1" action="/paypal" method="post">
        <input type="text" id="ticketPrice" name="ticketPrice" hidden>
        <input type="text" id="mealPrice" name="mealPrice" hidden>
        <input type="text" id="backMealPrice" name="backMealPrice" hidden>
        <input type="text" id="memberPrice" name="memberPrice" hidden>
        <input type="text" id="backPrice" name="backPrice" hidden>
    </form>
</body>
</html>